.git
.github
node_modules
vendor
.env
.env.backup
.env.production
tests
/public/storage
storage/*.key
storage/pail
.phpunit.cache
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
